<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goftagram.telegram.messenger"
    android:installLocation="auto">

    <supports-screens android:anyDensity="true"
                      android:largeScreens="true"
                      android:normalScreens="true"
                      android:resizeable="true"
                      android:smallScreens="true"
                      android:xlargeScreens="true"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.screen.PORTRAIT" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.STORAGE" />



    <application
        android:name="com.goftagram.telegram.messenger.ApplicationLoader"
        android:allowBackup="false"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:theme="@style/Theme.TMessages.Start"
        android:manageSpaceActivity="com.goftagram.telegram.ui.ManageSpaceActivity">

        <activity
            android:name="com.goftagram.telegram.ui.LaunchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.goftagram.telegram.messenger.android.profile"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="telegram.me" android:scheme="http" />
                <data android:host="telegram.me" android:scheme="https" />
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher" android:priority="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tg" />
            </intent-filter>
            <meta-data android:name="android.service.chooser.chooser_target_service" android:value=".TgChooserTargetService" />
        </activity>
        <activity
            android:name="com.goftagram.telegram.ui.ManageSpaceActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.goftagram.telegram.ui.IntroActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.goftagram.telegram.ui.PopupNotificationActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.TMessages.PopupNotification"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>



        <activity
            android:name="com.goftagram.telegram.goftagram.activity.GoftagramMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".activity.SearchableActivity" />
        </activity>

        <activity
            android:name="com.goftagram.telegram.goftagram.activity.SearchableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MyApp">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".activity.SearchableActivity" />
        </activity>

        <activity
            android:name="com.goftagram.telegram.goftagram.activity.ChannelListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp"/>


        <activity
            android:name="com.goftagram.telegram.goftagram.activity.SignUpActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp">

        </activity>

        <activity
            android:name="com.goftagram.telegram.goftagram.activity.ChannelDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goftagram.telegram.goftagram.activity.GoftagramMainActivity" />

        </activity>

        <activity
            android:name="com.goftagram.telegram.goftagram.activity.NewChannelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp"
            />

        <activity
            android:name="com.goftagram.telegram.goftagram.activity.CropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp"/>





        <receiver android:name="com.goftagram.telegram.messenger.AutoMessageHeardReceiver">
            <intent-filter>
                <action android:name="com.goftagram.telegram.messenger.ACTION_MESSAGE_HEARD"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.goftagram.telegram.messenger.AutoMessageReplyReceiver">
            <intent-filter>
                <action android:name="com.goftagram.telegram.messenger.ACTION_MESSAGE_REPLY"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.goftagram.telegram.messenger.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.goftagram.telegram.goftagram.receiver.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.goftagram.telegram.goftagram.receiver.AlarmReceiver"/>

        <receiver android:name="com.goftagram.telegram.goftagram.receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>



        <service android:name="com.goftagram.telegram.goftagram.gcm.RegistrationIntentService"/>
        <service android:name="com.goftagram.telegram.goftagram.gcm.GcmPushMessageHandlerIntentService"/>

        <service android:name="com.goftagram.telegram.goftagram.service.DatabaseInvalidationService" />
        <service android:name="com.goftagram.telegram.goftagram.service.NewVersionDownloaderService"/>
        <service android:name="com.goftagram.telegram.goftagram.service.RestService"/>


        <service android:name="com.goftagram.telegram.messenger.AuthenticatorService" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/auth"/>
        </service>

        <service android:name="com.goftagram.telegram.messenger.ContactsSyncAdapterService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <service
            android:name="com.goftagram.telegram.messenger.TgChooserTargetService"
            android:label="@string/AppName"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <service android:name="com.goftagram.telegram.messenger.NotificationsService" android:enabled="true"/>
        <service android:name="com.goftagram.telegram.messenger.NotificationRepeat" android:exported="false"/>
        <service android:name="com.goftagram.telegram.messenger.ClearCacheService" android:exported="false"/>
        <service android:name="com.goftagram.telegram.messenger.VideoEncodingService" android:enabled="true"/>
        <service android:name="com.goftagram.telegram.messenger.MusicPlayerService" android:exported="true" android:enabled="true"/>


        <receiver android:name="com.goftagram.telegram.messenger.MusicPlayerReceiver" >
            <intent-filter>
                <action android:name="com.goftagram.telegram.android.musicplayer.close" />
                <action android:name="com.goftagram.telegram.android.musicplayer.pause" />
                <action android:name="com.goftagram.telegram.android.musicplayer.next" />
                <action android:name="com.goftagram.telegram.android.musicplayer.play" />
                <action android:name="com.goftagram.telegram.android.musicplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.goftagram.telegram.messenger.AppStartReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.goftagram.telegram.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.goftagram.telegram.messenger.WearReplyReceiver" android:enabled="true"/>


        <provider
            android:name="com.goftagram.telegram.goftagram.provider.GoftagramProvider"
            android:authorities="com.goftagram.telegram"
            android:exported="false"/>


        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632dp" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598dp" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632dp" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598dp" />

        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3686c9cdfe7fe4286590beabf95d4e414ace8745" />
    </application>

</manifest>
